.adduser {
	/* background-color: #f9f9f9; */
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; */
	/* height: 100%; */
}
.adduser .header {
	background-color: white;
	height: 50px;
	display: flex;
	align-items: center;
	padding: var(--sectionpad);
	justify-content: space-between;
}
.adduser .header .screenTitle {
	font-size: 1.1rem;
	font-weight: 500;
}
.adduser .header .userProfile {
	display: flex;
	align-items: center;
}
.adduser .header .userImage {
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.adduser .add_form {
	width: 50%;
}
@media (max-width: 600px) {
	.adduser .add_form {
		width: 100%;
	}
}
