.folders {
	padding: var(--sectionpad);
}
.folders .secHeader,
.folders .filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.folders .secTitle {
	font-size: 1.5rem;
	font-weight: 500;
}
.folders .filter {
	font-size: 1rem;
	font-weight: 500;
}
.folders .folderBox {
	height: 130px;
	border-radius: 8px;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 12px #d3d3d3;
	/* align-items: center; */
}

.folders .folderStructure .col-md-9 {
	width: 84%;
	overflow-x: auto;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
	/* ; Firefox */
}
.folders .folderStructure .col-md-9::-webkit-scrollbar {
	display: none;
}

.folders .folderStructure .col-md-3 .folderBox {
	background-color: #eceefb;
	color: #5b64ed;
}
/* .folders .folderStructure .col-md-3 .folderBox {
	background-color: #eceefb;
} */
.folders .folderStructure .col-md-9 > .col:nth-child(1) {
	color: #5784ed;
}
.folders .folderStructure .col-md-9 > .col:nth-child(2) {
	color: #45cbd6;
}
.folders .folderStructure .col-md-9 > .col:nth-child(3) {
	color: #f8c83f;
}
.folders .folderStructure .col-md-9 > .col:nth-child(4) {
	color: #ef8bb1;
}
.folders .folderStructure .col-md-9 > .col .folderName {
	font-size: 1.2rem;
	font-weight: 600;
}
.folders .folderStructure .col-md-9 > .col .folderDetails {
	color: #a19a9a;
	font-weight: 600;
}
.folders .folderStructure .col-md-3 {
	width: 16%;
	/* padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5); */
}
@media (max-width: 600px) {
	.folders .folderStructure .col-md-9 {
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: inherit;
		flex-wrap: nowrap !important;
		overflow-x: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.folders .folderBox {
		box-shadow: 0 2px 5px #d3d3d3;
	}

	.folders .folderStructure .col-md-3 {
		width: inherit;
	}
}
